.container {
  display: flex;
  align-items: center;
  border: #000000;
  flex-direction: column;
}


.card {
  width: 24vw; 
  height: fit-content;
  padding: 15px;
  border-radius: 10px;
  background-color: #547ce2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card h1{
  color:white;
  text-align: center;
  margin-bottom: 15px;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form select,
form textarea {
  color: black;
  background-color: white;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: #2552c3 2px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  border: #2552c3 2px solid;
}

.card button:hover {
  background-color: #2552c3;
  color: white;
}

.switch{
  text-decoration: underline;
}

.switch:hover {
  color: #2552c3;
}

.card img {
  max-height: 30vh;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.error {
  margin-bottom: 15px;
  color: #FF898E;
}

.optionTwo {
  margin-top: 5px;
  border: #cc0000 2px solid !important;
}

.optionTwo:hover {
  background-color: #cc0000 !important;
}