.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 1200px;
}

.slides {
  transition: transform 0.5s ease;
  white-space: nowrap; /* Prevent items from wrapping */
  padding: 2em;
}

.slide {
  display: inline-block; /* Display slides in a row */
  width: calc(20% - 20px); /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-size: cover;
  position: relative;
  margin-right: 20px; /* Add margin to create space between slides */
  background-color: #547CE2;
  border-radius: 15px;
}


.category-name {
  text-align: center;
  padding: 5px 0;
  margin: 84px 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);

}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 2em;
}

.next {
  right: 2em;
}

.active {
  display: block;
}

.pointer { 
  cursor: pointer;
}