.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000;
}

.card {
  width: 350px; 
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  background-color: #547ce2;
  margin-top: 10vh;
}

.card h1{
  color:white;
}

.form h1 {
  margin-bottom: 15px;
  text-align: center;
  color:white;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
  color: black;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: #2552c3 2px solid;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #2552c3;
  color: white;
}

.login{
  text-decoration: underline;
}

.login:hover {
  color: #2552c3;
}