.navBar {
    background-color: #547CE2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navBar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
}