.navBar {
    background-color: #547CE2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navBar img {
    height: 40px;
    margin: 5px;
}

.navBar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

li > button {
    background-color: #547CE2;
    color: white;
    height: 50px;
    width: fit-content;
    padding: 10px;
    font-size: medium;
    border: 0px;
 }

li > button:hover {
    background-color: #2552c3;
    cursor: pointer;
}