.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000;
}

.card {
  width: 350px; 
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  background-color: #547ce2;
  margin-top: 10vh;
}

.card h1{
  color:white;
  text-align: center;
}

.options button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

.options button:hover {
  background-color: #2552c3;
  color: white;
}

img {
  max-height: 30vh;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
