.container {
    min-height: 100vh;
    background-color: #9FBAFF; /* or any shade of light blue you prefer */
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  