.container {
  min-height: 100vh;
  /* background-color: #9FBAFF; /* or any shade of light blue you prefer */
  background-color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.restaurantList {
  margin-top: 20px;
}

.welcome {
  padding: 2em; 
}