.body {
  background-color: #9FBAFF;
  min-height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.itemList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: fit-content(200px) fit-content(200px) fit-content(200px) fit-content(200px);
  justify-content: center;
}

.welcome {
  padding-top: 1em;
  font-size: x-large;
  text-align: center;
}